---
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'API Fintz de dados do mercado financeiro brasileiro',
	description: 'APIs de ações, FIIs, ETFs, fundos, tesouro direto e mais',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>404</h1>
      <h2>Página não encontrada 👀</h2>
			<div class="cta-buttons__container">
        <Button
					href="/"
					>
          Voltar para o blog
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
